/* .text{
    font-size: 150px;
} */

.events{
    background: radial-gradient(
        circle,
        rgba(49, 32, 84, 1) 16%,
        rgba(9, 3, 14, 1) 100%
      );
}

.animation-container {
    width: 20%;
    height: auto;
}

.body1{

    padding: 1.0vw 10vw;
    background: radial-gradient(circle, #0E4350 0%, #0A0304 100%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
} 

@media only screen and (max-width: 764px){
    .container{
        width: fit-content;
        flex-direction: column;
        font-size: 60px; 
    }
    .animation-container{
        margin-top: 1px;
    }
    .image{
        justify-content: center;
        max-width: 70%;
        padding: 1px;

    }
 } 

@media only screen and (max-width: 1267px){
    .text{
        font-size: 50px; 
    }

    .animation-container{
        margin-top: 1px;
    }
}

@media only screen and (max-width: 500px){
.text{
        font-size: 30px; 
    }
    .image{
        justify-content: center;
        /* width: 70%; */
        padding: 1px;
    }
    .animation-container{
        margin-top: -12px;
        margin-left: 35px;
        width: 20px;
        height: 40px;
    }
}

@media only screen and (min-width: 818px) and (max-width: 1000px){
     .text{
        font-size: 60px;
        margin-bottom: 125px;
    }
    .image{
        justify-content: center;
        height:100%;
        width:100%;
        /* margin-top: 235px; */
        /* max-width: 90%; */
        /* display: flex; */
        padding: 1px;
        padding-left: 30px;
        /* margin-left: -50px; */
    }
    .animation-container{
        margin-top: -12px;
        margin-left: 35px;
        width: 20px;
        height: 40px;
    }
}



@media only screen and (min-width: 1033px){
    .text{
        font-size: 70px; 
        margin-top: 90px;
    }

    .image{
        padding-left: 50px;
        justify-content: center;
    }

}

.roboto{
    font-family: Roboto mono;
}

.prize_text{
    font-family: Roboto mono;
}

.faq{
    font-family: Roboto mono;
}

.faq_p{
    background-color: rgba(19, 127, 178, 0.1);
}

.pattern--blueprint {
    /* Faint red background */
   background-size: 25px 25px;
   background-position: -1px -1px;
   background-color: rgba(19, 127, 178, 0.1);
   background-image: linear-gradient(rgba(19, 127, 178, 0.1) 0.5px, transparent 1px),
                     linear-gradient(90deg, rgba(19, 127, 178, 0.1) 0.5px, transparent 0.5px);
   border: 2px solid rgba(182, 224, 243, 0.1);
 }
 
 .pattern--blueprintmobile {
    /* Faint red background */
   background-size: 25px 25px;
   background-position: -1px -1px;
   background-color: rgba(19, 127, 178, 0.1);
   background-image: linear-gradient(rgba(181, 235, 240, 0.1) 0.5px, transparent 1px),
                     linear-gradient(90deg, rgba(180, 246, 249, 0.1) 0.5px, transparent 0.5px);
   border: 2px solid rgba(182, 224, 243, 0.1);
 }

 .bodymobile {
    margin: 0;
    background: radial-gradient(circle, #0e4350 0%, #0a0304 100%);
  }

 .pattern--blueprint :hover{
     box-shadow: 0 0 10px 5px #48abe0;
     cursor: pointer;
 }
 
 .pattern {
   width: 400px;
   height: 70px;
   display: inline-block;
   margin: 10px;
    /* Opacity for grid lines */
 }

 .pattern :hover{
    cursor:pointer;
 }
 
 .domains{
     font-family: koulen;
     font-size: 2.7rem;
 }

 @-webkit-keyframes pulseBox {
    0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 170, 255, 0.6);}
    100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 238, 255, 0.9);}
  }
  @-moz-keyframes pulseBox {
    0% {-moz-box-shadow: 0px 0px 10px 0px rgba(0, 170, 255, 0.6);}
    100% {-moz-box-shadow: 0px 0px 18px 0px rgba(0, 238, 255, 0.9);}
  }
  @-o-keyframes pulseBox {
    0% {-o-box-shadow: 0px 0px 10px 0px rgba(0, 170, 255, 0.6);}
    100% {-o-box-shadow: 0px 0px 18px 0px rgba(0, 238, 255, 0.9);}
  }
  @keyframes pulseBox {
    0% {box-shadow: 0px 0px 10px 0px rgba(0, 170, 255, 0.6);}
    100% {box-shadow: 0px 0px 18px 0px rgba(0, 238, 255, 0.9);}
  }
  
  .pulseBox {
    -webkit-animation-name: pulseBox;
    -moz-animation-name: pulseBox;
    -o-animation-name: pulseBox;
    animation-name: pulseBox;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    border: 0px;
    color:rgba(161, 241, 247, 0.9);
  }